body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 100px;
    background-color: lightskyblue;
}

#countdown {
    font-size: 36px;
    color: #333;
}

h2 {
    text-align: center;
}